<%= render 'error_messages', object: @group %>

<div class="col-sm-6 col-sm-offset-3">
  <div class="jumbotron">
    <h2>Create Group</h2>

    <%= form_for(@group) do |f| %>
      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="actions form-group">
        <%= f.submit "Create", class: 'btn btn-success', data: { disable_with: '作成中...' } %>
      </div>
    <% end %>

    <hr>

    <%= link_to "Back", chats_index_path %>
  </div>
</div>
