<!-- left -->
<div class="col-sm-3">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button"
            id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <span class="glyphicon glyphicon-user"></span>
      <%= @user.name %>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><%= link_to "グループ作成", new_group_path %></li>
      <li role="presentation"><%= link_to "ユーザ編集", edit_user_registration_path %></li>
      <li role="presentation"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>

  <div class="panel panel-default chat-groups">
    <div class="panel-heading">参加グループ</div>
    <div class="list-group">
      <% @groups.each do |group| %>
        <%= link_to group.name, "##{group.name}", class: "list-group-item my-group", id: group.id %>
      <% end %>
    </div>
  </div>
</div>

<!-- center -->
<div class="col-sm-6">
  <div class="row spacer20">
    <div class="col-xs-10">
      <textarea class="form-control message-post-area" rows="2"
        placeholder="送信するメッセージを入力"></textarea>
    </div>
    <div class="col-xs-2 send-button-div">
      <button type="button" class="btn btn-primary btn-lg disabled send-button">送信</button>
    </div>
  </div>

  <div class="panel panel-primary timeline">
    <div class="panel-heading timeline-header">タイムライン</div>
    <div class="list-group timeline-body">
      <li class="list-group-item">グループが選択されていません</li>
    </div>
  </div>
</div>

<!-- right -->
<div class="col-sm-3">
  <div class="list-group">
    <%= link_to "グループ編集", "#", class: "list-group-item disabled group-setting" %>
    <%= link_to "グループを抜ける", "#", class: "list-group-item disabled leave-group",
      method: :delete, data: { confirm: "Are you sure?" } %>
  </div>

  <div class="panel panel-default chat-groups">
    <div class="panel-heading">メンバー</div>
    <div class="list-group group-member"></div>
  </div>
</div>
